global
    log /dev/log local0
    stats socket /var/run/haproxy.sock mode 600 level admin
    maxconn 4096

defaults
    mode tcp
    option tcpka
    timeout connect 10s
    timeout client  1m
    timeout server  1m

frontend tidb_front
    bind *:4000
    default_backend tidb_back

backend tidb_back
    balance roundrobin
    server tidb1 10.0.1.10:4000 check weight 1
    server tidb2 10.0.1.11:4000 check weight 1
    server tidb3 10.0.1.12:4000 check weight 1
